body {
    font-family: helvetica;
    background-color: #fbfbfb;
}

header {
    text-align: left;
    font-size: 20px;
    padding: 35px 20px;
    color: #fbfbfb;
    background-color: #436489;
}

#data {
}

#data > div {
    font-size: 18px;
    padding: 20px;
    border-bottom: solid 1px #D5D5D5;
    color: #111;
}

#data > div.selected {
    background-color: #ECECEC;
}

#data > div:last-child {
    margin-bottom: 75px;
}

#data > div span:first-child {
    margin-right: 5px;
}

#data > div.next {
    background-color: #DDFFD8;
}

footer {
    position: fixed;
    padding: 20px;
    background-color: #676767;
    background-image: url("/images/monochrome.png");
    background-size: 15px 11px;
    background-position: bottom right;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    color: #f0f0f0;
    right: 0;
}

.time {}

.updateInterval {
    font-size: 13px;
    color: #ccc;
}

#data > div span.time{
	font-size:0.7em;
	color: #666666;
}