body {
	font-family: helvetica;
	color: #111;
	background-color: #fbfbfb;
}

input {
    padding: 4px;
}

@media screen and (max-width: 425px) {
  input {
      display: block;
      padding: 10px;
      width: 100%;
      margin: 2px 0;
      box-sizing: border-box;
  }
  input[type=submit] {
      margin-bottom: 10px;
  }

  .column.left {
  }

.column {
    vertical-align: top;
    display: block;
}

}



@media screen and (min-width: 426px) {
  input {
  }

  .column.left {
      max-width: 300px;
  }

.column {
    vertical-align: top;
    display: inline-block;
}

}
div.header {

}


#queuerList td {
	padding: 10px;
	border: 1px solid #ececec;
}

#queuerList th {
	padding: 10px;
	border: 1px solid #ececec;
}

#queuerList tr.waiting { background-color: #FFFFFF; }
#queuerList tr.called { background-color: #DDFFD8; }
#queuerList tr.dequeued { background-color: #D0F4F5; }
#queuerList tr.out { background-color: #ff82c3; }
#queuerList tr.purged { background-color: #ff5800; }
